In [1]:
!pip install pandas
!pip install psycopg2

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 4.0 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.5 MB 9.6 MB/s eta 0:00:01
   ---------------------- ----------------- 6.6/11.5 MB 13.2 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 15.8 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 15.3 MB/s eta 0:00:00
Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ------------- -------------------------- 4.2/12.6 MB 20.2 MB/s eta 0:00:01
   --------------------------- ------------ 8.7/12.6 MB 20.7 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 20.2 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2024.2 tzdata-2025.1
Collecting psycopg2
  Downloading psycopg2-2.9.10-cp313-cp313-win_amd64.whl.metadata (4.8 kB)
Downloading psycopg2-2.9.10-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ------------------------ --------------- 1.6/2.6 MB 7.5 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 9.1 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

In [125]:
import psycopg2 
import pandas as pd

In [126]:
#Function for creating database
def create_db():
    connection=psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=database")
    connection.set_session(autocommit=True)
    crsr=connection.cursor()

    #creating database
    crsr.execute("DROP DATABASE IF EXISTS accounts")
    crsr.execute("CREATE DATABASE accounts")

    #close connection to default database
    connection.close()

    #connnect to the new database
    connection=psycopg2.connect("host=127.0.0.1 dbname=accounts user=postgres password=database")
    crsr=connection.cursor()

    return crsr, connection

In [127]:
#Function for dropping table
def drop_table(crsr,connection):
    for query in drop_tb_query:
        crsr.execute(query)
        conncetion.commit()

In [128]:
#function for creating table
def create_table(crsr, connection):
    for query in create_tb_query:
        crsr.execute(query)
        connection.commit()

In [129]:
#now reading and cleaning data according to needs
AccountsData=pd.read_csv("data/Wealth-AccountData.csv")

In [130]:
AccountsData.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'],
      dtype='object')

In [131]:
AccountsData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7592 entries, 0 to 7591
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   7592 non-null   object
 1   Country Code   7592 non-null   object
 2   Series Name    7592 non-null   object
 3   Series Code    7592 non-null   object
 4   1995 [YR1995]  7592 non-null   object
 5   1996 [YR1996]  7592 non-null   object
 6   1997 [YR1997]  7592 non-null   object
 7   1998 [YR1998]  7592 non-null   object
 8   1999 [YR1999]  7592 non-null   object
 9   2000 [YR2000]  7592 non-null   object
 10  2001 [YR2001]  7592 non-null   object
 11  2002 [YR2002]  7592 non-null   object
 12  2003 [YR2003]  7592 non-null   object
 13  2004 [YR2004]  7592 non-null   object
 14  2005 [YR2005]  7592 non-null   float64
 15  2006 [YR2006]  7592 non-null   float64
 16  2007 [YR2007]  7592 non-null   float64
 17  2008 [YR2008]  7592 non-null   float64
 18  2009 [YR2009]  7592 non-null   float64
 19  2010 [YR2010]  7592 non-null   float64
 20  2011 [YR2011]  7592 non-null   float64
 21  2012 [YR2012]  7592 non-null   float64
 22  2013 [YR2013]  7592 non-null   float64
 23  2014 [YR2014]  7592 non-null   float64
 24  2015 [YR2015]  7592 non-null   float64
 25  2016 [YR2016]  7592 non-null   object
 26  2017 [YR2017]  7592 non-null   object
 27  2018 [YR2018]  7592 non-null   object
dtypes: float64(11), object(17)
memory usage: 1.6+ MB

In [132]:
AccountsData=AccountsData[['Country Name', 'Country Code', 'Series Name', 'Series Code', '2005 [YR2005]', '2010 [YR2010]', '2015 [YR2015]']]

In [133]:
AccountsData.head()

,Country Name,Country Code,Series Name,Series Code,2005 [YR2005],2010 [YR2010],2015 [YR2015]
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO,5.440000e+10,6.810000e+10,7.370000e+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC,1.807230e+04,2.336286e+04,2.559371e+04
2,Albania,ALB,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC,2.222115e+03,2.889150e+03,2.987545e+03
3,Albania,ALB,"Human capital per capita, employed male (const...",NW.HCA.MEMP.PC,1.168935e+04,1.578992e+04,1.730701e+04
4,Albania,ALB,"Human capital per capita, female (constant 201...",NW.HCA.FEMA.PC,2.886736e+03,3.613606e+03,3.767628e+03

In [134]:
AccountsData.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2005 [YR2005]', '2010 [YR2010]', '2015 [YR2015]'],
      dtype='object')

In [135]:
AccountsCountry=pd.read_csv("data/Wealth-AccountsCountry.csv")

In [136]:
AccountsCountry.columns

Index(['Code', 'Long Name', 'Income Group', 'Region', 'Lending category',
       'Other groups', 'Currency Unit', 'Latest population census',
       'Latest household survey', 'Special Notes',
       'National accounts base year', 'National accounts reference year',
       'System of National Accounts', 'SNA price valuation',
       'Alternative conversion factor', 'PPP survey years',
       'Balance of Payments Manual in use', 'External debt Reporting status',
       'System of trade', 'Government Accounting concept',
       'IMF data dissemination standard',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', '2-alpha code', 'WB-2 code',
       'Table Name', 'Short Name'],
      dtype='object')

In [137]:
AccountsCountry_clean=AccountsCountry[['Code', 'Short Name', 'Table Name','Long Name','Currency Unit']]

In [138]:
AccountsCountry_clean.head()

  Code Short Name Table Name                  Long Name      Currency Unit
0  ALB    Albania    Albania        Republic of Albania       Albanian lek
1  ARG  Argentina  Argentina         Argentine Republic     Argentine peso
2  ARM    Armenia    Armenia        Republic of Armenia      Armenian dram
3  AUS  Australia  Australia  Commonwealth of Australia  Australian dollar
4  AUT    Austria    Austria        Republic of Austria               Euro

In [139]:
AccountsSeries=pd.read_csv("data/Wealth-AccountSeries.csv")

In [140]:
AccountsSeries=AccountsSeries[['Code','Topic','Indicator Name', 'Long definition']]

In [141]:
#now using the functions for creating database and tables
crsr, connection=create_db()

In [142]:
#for accountscountry
accounts_country_table_create=("""CREATE TABLE IF NOT EXISTS accountscountry(
country_code VARCHAR ,
short_name VARCHAR,
table_name VARCHAR,
long_name VARCHAR,
currency_name VARCHAR
) """)

In [143]:
crsr.execute(accounts_country_table_create)
connection.commit()

In [144]:
#for accountsdata
accounts_data_table_create=("""CREATE TABLE IF NOT EXISTS accountsdata(
country_name VARCHAR,
country_code VARCHAR,
series_name VARCHAR,
series_code VARCHAR,
year_2005 numeric,
year_2010 numeric,
year_2015 numeric
) """)
crsr.execute(accounts_data_table_create)
connection.commit()

In [145]:
#for accountsSeries
accounts_series_table_create=("""CREATE TABLE IF NOT EXISTS accountsseries(
code VARCHAR,
topic VARCHAR,
indicator_name VARCHAR,
long_definition VARCHAR
) """)
crsr.execute(accounts_series_table_create)
connection.commit()

In [146]:
#for data insertion in accounts country table
accounts_country_table_insert=("""INSERT INTO accountscountry(
country_code ,
short_name ,
table_name ,
long_name ,
currency_name 
) 
VALUES(%s,%s,%s,%s,%s )
""")

In [147]:
#now putting the data from the csv into the created database table
for i, row in AccountsCountry_clean.iterrows():
     crsr.execute(accounts_country_table_insert, list(row))

In [148]:
connection.commit()

In [149]:
AccountsData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7592 entries, 0 to 7591
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   7592 non-null   object
 1   Country Code   7592 non-null   object
 2   Series Name    7592 non-null   object
 3   Series Code    7592 non-null   object
 4   2005 [YR2005]  7592 non-null   float64
 5   2010 [YR2010]  7592 non-null   float64
 6   2015 [YR2015]  7592 non-null   float64
dtypes: float64(3), object(4)
memory usage: 415.3+ KB

In [150]:
#for data insertion in accounts data table
accounts_data_insert=("""INSERT INTO accountsdata(
country_name ,
country_code ,
series_name ,
series_code ,
year_2005 ,
year_2010 ,
year_2015 
)
VALUES(%s,%s,%s,%s,%s,%s,%s )
""")
 #now putting the data from the csv into the created database table
for i, row in AccountsData.iterrows():
    #print(row)
    crsr.execute(accounts_data_insert, list(row))

In [151]:
#for data insertion in accounts series table
accounts_series_insert=("""INSERT INTO accountsseries(
code,
topic ,
indicator_name ,
long_definition 
)
VALUES(%s,%s,%s,%s )
""")
 #now putting the data from the csv into the created database table
for i, row in AccountsSeries.iterrows():
    crsr.execute(accounts_series_insert, list(row))